@charset "utf-8";
/* CSS Document */

/* ----- Colors ------------------------------------------------------ */
:root {

	/* Define color variables */
	--grey: #5b5b5b;
/*	--text-grey: #505050;*/
	--text-grey: #5a5a5a;
	--gold: #aea587;

	--text-blue: #91adc2;
	--sidebar: #aea587;

	--bkgd-gold: rgba(174, 165, 135, 0.5);

}


/* ----- Fonts & Text ------------------------------------------------------ */
html, body {

	/* Set default font and size */
	font-family: 'Inter', sans-serif;
	font-size: 10px;

}


/* --- Responsive fonts --- */
@media screen and (min-width: 1200px) {

	h1 {
		font-size: 4rem;
	}

	h1 img {
		width: 56px;
	}

	h2 {
		font-size: 1.6rem;
	}

  	p, li, button, a, label, input, textarea {
		font-size: 1.4rem;
	}

	.small {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {

	h1 {
		font-size: 3rem;
	}

	h1 img {
		width: 48px;
	}

	h2 {
		font-size: 1.4rem;
	}

  	p, li, button, a, label, input, textarea {
		font-size: 1.2rem;
	}

	.small {
		font-size: 1.2rem;
	}

}


@media screen and (max-width: 799px) {

	h1 {
		font-size: 2rem;
	}

	h1 img {
		width: 32px;
	}

	h2 {
		font-size: 1.2rem;
	}

  	p, li, button, a, label, input, textarea {
		font-size: 1rem;
	}

	.small {
		font-size: 1rem;
	}

}


/* --- headline 1 --- */
h1 {
	font-weight: 600;
}

h1 span {

	color: var(--gold);
	font-weight: 300;

}


/* --- paragraph --- */
p {

	line-height: 1.5;
	margin: 0;

	text-align: justify;
	text-justify: inter-word;

}

/* --- unordered list --- */
ul {

	list-style-type: circle;
	padding: 0 0 0 1vw;

}

/* --- ordered list --- */
ol {

	list-style-type: decimal;
	padding: 0 0 0 2vw;

}

/* --- links -- */

 /* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--gold);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: var(--gold);
  text-decoration: underline;
}

.source:link {
	border: 1px solid #363636;
	border-radius: 10px;
  	color: black;
	background-color: transparent;
	text-decoration: none;
	padding: 1px 8px;
	margin-left: 5px;
}

.source:visited {
  color: var(--gold);
  background-color: transparent;
  text-decoration: none;
}

.source:hover {
	background-color: var(--gold);
}

.source:active {
	background-color: var(--gold);
}

.click {
	border-bottom: 1px dashed;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

/* ----- Link class: TOOLTIP ------------------------------------------------------ */

a.tooltip {
  border-bottom: 1px dashed;
  text-decoration: none;
}
a.tooltip:hover {
  cursor: help;
  position: relative;
}
a.tooltip span {
  display: none;
}
a.tooltip:hover span {
  border: grey 1px solid;
  border-radius: 5px;
  padding: 5px;
  display: block;
  z-index: 100;
  background: #e3e3e3;
  left: 10px;
  margin: 5px;
  width:250px;
  position: absolute;
  top: 20px;
  color: black;
  font-weight:normal;
  text-decoration: none;
}


/* ----- Buttons ------------------------------------------------------------------ */

/* Style the buttons */
.btn {

	border: 1px solid #363636;
	border-radius: 10px;
  	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;

	padding: 10px;
	margin-bottom: 20px;

	transition: 0.2s
}

/* Add gold background on mouse-over */
.btn:hover {

  background-color: var(--gold);
  box-shadow: 0 0 5px rgba(33,33,33,.2);

}

/* Add a dark background to the active button */
.btn.active {

  background-color: var(--grey);
  color: white;

}


/* ----- Forms ------------------------------------------------------------------ */

/* --- Container --- */
.form-container {

	margin: 0px 20px 0px 20px;
	padding: 20px;

	border: 1px solid grey;
  	border-radius: 10px;
  	background-color: rgba(255, 255, 255, 0.5);

}

 /* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {

  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid grey; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {

  background-color: var(--text-blue);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {

  background-color: var(--gold);

}

/* ----- Home ------------------------------------------------------ */

.home-container {

	position: relative;
	/*margin-top: 5vh;*/
}

.home-img {

	position: absolute;
	/*height: 50vh;

	margin-left: 5vw;
	margin-top: 10vh; -- BACKUP -- */

	height: 50vh;

	margin-left: 3vw;
	margin-top: 8vh;

}

.home-quote {

	position: absolute;
	/*margin-top: 5vh;
	margin-left: -3vw; -- bACKUP -- */

	margin-left: 8vw;
	margin-top: 20vh;

}


/* ----- MODAL Images ------------------------------------------------------ */

 /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


/* ----- Layout class: FLEX ------------------------------------------------------ */

.flex-container {

	display: flex;
	flex-direction: row;

}

.flex-item {

	flex: 1;
	margin: 1vw;

}

.flex-item img
{
	margin-bottom: 10px;
}


/* ----- Element class: TAG ------------------------------------------------------ */

.tag {

	display: inline-block;

	border: 1px solid #363636;
	border-radius: 10px;
  	color: black;
	background-color: transparent;
	text-decoration: none;
	padding: 1px 8px;

	margin-top: 10px;

	font-size: 1rem;

}


/* ----- Element class: BLOCK ------------------------------------------------------ */
.block {
	margin: 1vw;
}

.block img {
	margin: 1vw;
}


/* ----- Element class: QUOTE ------------------------------------------------------ */

.quote {

	/* display (so that size fits to content */
	display: inline-block;

	/* margin & padding */
	margin: 1vw;

}

.quote-header {

	/* size */
	height: 25%;

	/* margin & padding */
	padding: 10px;

	/* style */
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px 10px 0 0;

}

.quote-header h2 {

	margin: 0;

}

.quote-body {

	/* Position must be relative to absolutely position :after */
	position:relative;

	/* margin & padding */
	padding: 10px;

	/* style */
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0 0 10px 10px;

}

.quote-body:after {

    content:''; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    top: 0;
    left: 30%;
    margin-left: -10px; /* Set margin equal to border px */
    width: 0;
    z-index:1;
    height: 0;
    border-top: solid 10px rgba(255, 255, 255, 0.4); /* Creates the notch */
    border-left: solid 10px transparent; /* Creates triangle effect */
    border-right: solid 10px transparent; /* Creates triangle effect */

}


/* ----- Element class: BOX ------------------------------------------------------ */

.box {

	/* margin & padding */
	margin: 1vw;

	/* style */
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid grey;
	border-bottom: 10px solid var(--text-blue);

	/* transition */
	transition: box-shadow .3s;
	transition: border-bottom .3s;

}

.box:hover {

	box-shadow: 0 0 11px rgba(33,33,33,.2);
	border-bottom: 10px solid black;

}

.box-header {

	/* size */
	/*height: 15%;*/

	/* margin & padding */
	padding: 1px 10px 1px 10px;
	/*margin-bottom: 10px;*/

	/* style */
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px 10px 0px 0px;

}

.box-body {

	padding: 10px;

}

.box h2{

	color: var(--gold);

}


/* ----- Element class: FILTERS ------------------------------------------------------ */

.filterList {

	overflow: hidden;

}

.filter {

	display: none; /* hidden by default */

}


.show {

	/* The "show" class is added to the filtered elements */
	display: block;

}


/* ----- Element class: PROJECTS ------------------------------------------------------ */

.project {

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	border: 1px solid grey;
	border-top: 5px solid var(--text-blue);

	padding: 10px;
	margin-bottom: 20px;

	transition: 0.2s;

}

.project:hover {

	box-shadow: 0 0 11px rgba(33,33,33,.2);
	border-top: 5px solid var(--gold);

}

.project-col {

	display: flex;
	flex-direction: column;

	position: relative;

	padding: 10px;

}

.project-col p {

	margin-bottom: 20px;

}

.dot-container {

	position: absolute;
	bottom: 10px;
	right: 10px;
}

.dot {
  height: 5px;
  width: 5px;
  border-style: solid;
  border-color: rgba(204,204,204,1);
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
}


/* ----- Element class: EXPANDABLE ------------------------------------------------------ */

.expandable {

	/* borders */
	border-radius: 10px;
	border: 1px solid grey;

	/* margin & padding */
	margin-bottom: 10px;

	/* transition */
	transition: 0.2s;

}

.expandable:hover {

	/* shadow */
	box-shadow: 0 0 5px rgba(33,33,33,.3);

}

.expandable-header {

	/* box */
	display: flex;
	flex-direction: row;

	/* size */
	height: 25%;

	/* margin & padding */
	padding: 10px;

	/* style */
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px 10px 10px 10px;

	/* transition */
	transition: border-radius 0.2s ease-out;

}

.expandable-body {

	/* collapsed by default */
	max-height: 0;
  	overflow: hidden;

	/* padding 0px by default (10px when expanded) */
	padding: 0px;

	/* style */
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0 0 10px 10px;

	/* transition */
	transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}

/* ----- Expand button ----- */

.btn-expand {
  display: inline-block;
  border: none;
  background:none;
  text-align: center;
  padding: 5px;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-expand span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-expand span:after {
  content: 'Expand';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 10px;
  transition: 0.5s;
}


.btn-expand:hover span {
  color: var(--gold);
}

.btn-expand:hover span:after {
  opacity: 1;
  left: 20px;
}

.active span:after {
  content: 'Collapse';
}

/* ----- Content class: TRAINING (inside EXPANDABLE) ------------------------------------------------------ */

.training-title {

	flex: 70%;

}

.training-title h2 {

	display: inline-block;

}

.training-title-tags {

	flex:20%;

	display: flex;
	flex-direction: column;

}

.training-title-tags .tag {

	margin-top: 5px;

}

.training-title-links {

	flex:10%;

	text-align: right;
	padding-right: 10px;
}

.training-title-links a {

	margin-left: 10px;
	color: black;
	text-decoration: none;

}

.training-title-links a:hover {

	color: var(--gold);

}

.training-body-tags {

	flex: 20%;
	margin: 10px;

}

.training-body-summary {

	flex: 50%;

	margin: 10px;

}

.training-body-courses {

	flex: 30%;
	margin: 10px;

	text-overflow: ellipsis;

}

.training-body-courses a {

	margin-left: 10px;
	color: black;
	text-decoration: none;

}

.training-body-courses a:hover {

	color: var(--gold);

}


/* ----- Content class: EXPERIENCE (inside EXPANDABLE) ------------------------------------------------------ */

.experience-title {

	flex: 80%;

}

.experience-title h2 {

	display: inline-block;
	margin-bottom: 0;

}

.experience-title .btn-expand{
	margin-bottom: 0;
}

.experience-title-tags {

	flex:20%;

	display: flex;
	flex-direction: column;

}

.experience-title-tags .tag {

	margin-top: 5px;

}


.experience-body {

	display: flex;
	flex-direction: row;

}

.experience-body-tags {

	flex: 20%;
	margin: 10px;

}

.experience-body-summary {

	flex: 80%;
	margin: 10px;

}

.experience-body-details {

	flex: 30%;
	margin: 10px;
	padding: 10px;

	text-overflow: ellipsis;

	background-color: var(--bkgd-gold);
	border-radius: 5px;

}

.experience-body-details span {
	font-weight:bold;
}

.experience-body-details a {

	margin-left: 10px;
	color: black;
	text-decoration: none;

}

.experience-body-details a:hover {

	color: var(--gold);

}
